
.legend-micronutrients {
    /* display: none; */
    position: absolute;
    bottom: 300px;
    left: 88%;
    background-color: white;
    width: 150px;
    height: 1px;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor:pointer; 
    transition: all .2s ease-out;
}
/* .legend:hover {
    height: 200px;
    padding-bottom: 20px;
} */
.legend-micronutrients span {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 32%;
}
.legend-micronutrients .nitro {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-micronutrients .nitro::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #ED4F4F;
}

.legend-micronutrients .phosporus {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;

}
.legend-micronutrients .phosporus::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #4CF07A;
}

.legend-micronutrients .potassium {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;

}
.legend-micronutrients .potassium::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #1A0CBB;
}

.legend-micronutrients .iron {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-micronutrients .iron::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #FF21C1;
}

.legend-micronutrients .zinc {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-micronutrients .zinc::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #756767;
}

.legend-micronutrients .copper {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-micronutrients .copper::before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color:#C1DA28;
}

/* ----------------------------------- MICROORGANISMS---------------------------------- */


.legend-microorg {
    /* display: none; */
    position: absolute;
    bottom: 300px;
    left: 88%;
    background-color: white;
    width: 150px;
    height: 1px;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor:pointer; 
    transition: all .2s ease-out;
}
/* .legend-microorg:hover {
    height: 200px;
    padding-bottom: 20px;
} */
.legend-microorg span:first-child {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 32%;
}

.legend-microorg .beneficial-microorg,
.legend-microorg .phyto,
.legend-microorg .fusarium,
.legend-microorg .verti,
.legend-microorg .pythium,
.legend-microorg .rhizo {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}

.legend-microorg .beneficial-microorg:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #756767;
}

.legend-microorg span.pathogenic {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    left: 25px;
    width: 400px;
}

.legend-microorg .phyto:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #c43232;
}

.legend-microorg .fusarium:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #1abde6;
}

.legend-microorg .verti:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #3a0404;
}

.legend-microorg .pythium:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #219416;
}

.legend-microorg .rhizo:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #d36e10;
}

/* -------------------------- SOIL SALINITY ---------------------------------- */

.legend-salinity {
    /* display: none; */
    position: absolute;
    bottom: 300px;
    left: 88%;
    background-color: white;
    width: 150px;
    height: 1px;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor:pointer; 
    transition: all .2s ease-out;
}
/* .legend-salinity:hover {
    height: 200px;
    padding-bottom: 20px;
} */
.legend-salinity span {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 32%;
}
.legend-salinity .salinity {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-salinity .salinity:first-of-type:before,
.legend-salinity .salinity:nth-of-type(2):before,
.legend-salinity .salinity:nth-of-type(3):before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
}
.legend-salinity .salinity:first-of-type:before { background-color: rgb(105,105,105);}
.legend-salinity .salinity:nth-of-type(2):before { background-color:rgb(169,169,169);}
.legend-salinity .salinity:nth-of-type(3):before { background-color: rgb(192,192,192);}

/* --------------------------------------- WEATHER & HUMIDITY ----------------------- */


.legend-wh {
    /* display: none; */
    position: absolute;
    bottom: 300px;
    left: 88%;
    background-color: white;
    width: 150px;
    height: 1px;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor:pointer; 
    transition: all .2s ease-out;
}
/* .legend-wh:hover {
    height: 200px;
    padding-bottom: 20px;
} */
.legend-wh span {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 32%;
}
.legend-wh .temp,
.legend-wh .humidity {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-wh .temp:first-of-type:before,
.legend-wh .temp:nth-of-type(2):before,
.legend-wh .temp:nth-of-type(3):before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
}
.legend-wh .temp:first-of-type:before { background-color: #949EF8;}
.legend-wh .temp:nth-of-type(2):before { background-color: #cce67e;}
.legend-wh .temp:nth-of-type(3):before { background-color: #ed8702;}


.legend-wh .humidity:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #1b130c;
}

/* --------------------------------- STATS -------------------------------------- */

.legend-stats {
    /* display: none; */
    position: absolute;
    bottom: 300px;
    left: 88%;
    background-color: white;
    width: 150px;
    height: 1px;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor:pointer; 
    transition: all .2s ease-out;
}
/* .legend-stats:hover {
    height: 200px;
    padding-bottom: 20px;
} */
.legend-stats span {
    color: #419ADA;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 32%;
}
.legend-stats .cartofi,
.legend-stats .fl-soare,
.legend-stats .grau,
.legend-stats .orz,
.legend-stats .porumb {
    font-size: 18px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.legend-stats .cartofi:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #d36e10;
}

.legend-stats .fl-soare:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #1b130c;
}

.legend-stats .grau:before{
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #86674b;
}
.legend-stats .orz:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #5ac429;
}

.legend-stats .porumb:before {
    content: " ";
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #db6b90;
}
